.package-card{
    width: 1600px;
}
.title{
    display: flex;
    font-size: 1.1rem;
    font-weight: 700;
    color: #FF9900;
    column-gap: 10px;
}
.small-bx{
    width: 10px;
    height: 30px;
    background-color: #FF9900;
    border-radius: 2px;
}
.card-grp{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
}
.box{
    border: 1px solid #cecccc;
    border-radius: 5px;
    transition: background-color 0.5s;
    cursor: pointer;
}
.box:hover{
    background-color: #FF9900;
    color: #ffffff;
    border-color: #FF9900;
}